@model FestiFact.WebUI.Areas.Organisator.Models.NewFestivalModel

<head>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>

<script type="text/javascript" src="jquery-1.3.2.min.js"></script>

<script type="text/javascript">

$(document).ready(function(){

    var counter = 2;

    $("#addButton").click(function () {

	if(counter>10){
            alert("Only 10 textboxes allow");
            return false;
	}

	var newTextBoxDiv = $(document.createElement('div'))
	     .attr("id", 'TextBoxDiv' + counter);

	newTextBoxDiv.after().html('<label>Textbox #'+ counter + ' : </label>' +
	      '<input type="text" name="textbox' + counter +
	      '" id="textbox' + counter + '" value="" >');

	newTextBoxDiv.appendTo("#TextBoxesGroup");


	counter++;
     });

     $("#removeButton").click(function () {
	if(counter==1){
          alert("No more textbox to remove");
          return false;
       }

	counter--;

        $("#TextBoxDiv" + counter).remove();

     });

     $("#getButtonValue").click(function () {

	var msg = '';
	for(i=1; i<counter; i++){
   	  msg += "\n Textbox #" + i + " : " + $('#textbox' + i).val();
	}
    	  alert(msg);
     });
  });
</script>

@{
    ViewBag.Title = "AddFestival";
}

<h2>Maak een niew festival</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.ValidationSummary()


    <div class="form-group">
        <div style="display:none"> @Html.TextBoxFor(f => f.festival.ID);</div>
        <label>Naam: </label>
        @Html.TextBoxFor(f => f.festival.Name)
    </div>
    <div class="form-group">
        <label>Beschrijving: </label>
        @Html.TextAreaFor(f => f.festival.Description)
    </div>
    <div class="form-group">
        <label>afbeeldingen: </label>
        <input type="file" name="pictures[0]" id="pictures[0]" style="width: 100%;" />
        <input type="file" name="pictures[1]" id="pictures[1]" style="width: 100%;" />
        <input type="file" name="pictures[2]" id="pictures[2]" style="width: 100%;" />

    </div>
    <div class="form-group">
        <label>type: </label>
        @Html.DropDownListFor(f => f.festival.Type, (new[] {
                                new SelectListItem() { Value = "Muziek", Text = "Muziek" },
                                new SelectListItem() { Value = "Theater", Text = "Theater" },
                                new SelectListItem() { Value = "Film", Text = "Film" },
                                new SelectListItem() { Value = "Game", Text = "Game" }
                             }))
    </div>

    <div class="form-group">
        <label>Genre: </label>
        @Html.TextBoxFor(f => f.festival.Genre )
    </div>

    <div class="form-group">
        <label>leeftijd van: </label>
        @Html.TextBoxFor(f => f.festival.MinAge )
        <label> tot:</label>
        @Html.TextBoxFor(f => f.festival.MaxAge )
    </div>

    <div class="form-group ">
        <label>Datums: </label> <br />
        @Html.TextBoxFor(f => f.dates[0].Datum ) <br />
        @Html.TextBoxFor(f => f.dates[1].Datum ) <br />
        @Html.TextBoxFor(f => f.dates[2].Datum )

        <div id='TextBoxesGroup'>
            <div id="TextBoxDiv1">
                <label>Textbox #1 : </label><input type='text' id='textbox1'>
            </div>
        </div>
        <input type='button' value='Add Button' id='addButton'>
        <input type='button' value='Remove Button' id='removeButton'>

    </div>

    <div class="form-group ">
        <label>Locaties: </label> <br />
        @Html.TextBoxFor(f => f.locations[0].City ) <br />
        @Html.TextBoxFor(f => f.locations[1].City ) <br />
        @Html.TextBoxFor(f => f.locations[2].City )
    </div>


    <input class="btn btn-succes" type="submit" value="Opslaan" />

}