@model FestiFact.WebUI.Areas.Organisator.Models.NewFestivalModel

<head>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>


@{
    ViewBag.Title = "AddFestival";
}

<h2>Maak een niew festival</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.ValidationSummary()

    <div style="display:none"> @Html.TextBoxFor(f => f.festival.ID);</div>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2">Naam: </label>
            @Html.TextBoxFor(f => f.festival.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label class="col-md-2">Beschrijving: </label>
            @Html.TextAreaFor(f => f.festival.Description, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label class="col-md-2">afbeeldingen: </label>
            <input type="file" name="pictures[0]" id="pictures[0]" style="width: 100%;" />
            <input type="file" name="pictures[1]" id="pictures[1]" style="width: 100%;" />
            <input type="file" name="pictures[2]" id="pictures[2]" style="width: 100%;" />

        </div>
        <div class="form-group">
            <label class="col-md-2">type: </label>
            @Html.DropDownListFor(f => f.festival.Type, (new[] {
                                new SelectListItem() { Value = "Muziek", Text = "Muziek" },
                                new SelectListItem() { Value = "Theater", Text = "Theater" },
                                new SelectListItem() { Value = "Film", Text = "Film" },
                                new SelectListItem() { Value = "Game", Text = "Game" }
                             }), new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label class="col-md-2">Genre: </label>
            @Html.TextBoxFor(f => f.festival.Genre, new { @class = "form-control" })
        </div>

        <div class="form-group row ">
            <label class="col-md-2 ">leeftijd:</label>
            <div class="form-inline row">
                <label >van:</label>
                @Html.TextBoxFor(f => f.festival.MinAge, new { @class = "form-control" })
            </div>
            <div class="form-inline row">
                <label> tot:</label>
                @Html.TextBoxFor(f => f.festival.MaxAge, new { @class = "form-control" })
            </div>

        </div>

        <div class="form-group ">
            <label class="col-md-2">Datums: </label> <br />
            @Html.TextBoxFor(f => f.dates[0].Datum, new { @class = "form-control" }) <br />
            @Html.TextBoxFor(f => f.dates[1].Datum, new { @class = "form-control" }) <br />
            @Html.TextBoxFor(f => f.dates[2].Datum, new { @class = "form-control" })

        </div>

        <div class="form-group ">
            <label class="col-md-2">Locaties: </label> <br />
            @Html.TextBoxFor(f => f.locations[0].City, new { @class = "form-control" }) <br />
            @Html.TextBoxFor(f => f.locations[1].City, new { @class = "form-control" }) <br />
            @Html.TextBoxFor(f => f.locations[2].City, new { @class = "form-control" })
        </div>

        <div class="btn-group">
            <input class="btn btn-success" type="submit" value="Opslaan" />
        </div>

    </div>
}