@model FestiFact.Domain.Entities.Organisation
@{ int i = 0;}
@{
    ViewBag.Title = "Overview";
}

<h2>Overview</h2>

<table>
    <tr>
        <th style="padding-right: 10px">Nummer</th>
        <th style="padding-right: 10px">Naam</th>
        <th style="padding-right: 10px">Locatie</th>
        <th style="padding-right: 10px">Verkochte kaartjes</th>
        <th style="padding-right: 10px">Beschikbare kaartjes</th>
        <th style="padding-right: 10px">Rating</th>
        <th> Inzicht</th>
    </tr>

    @foreach (var f in Model.Festivals) {
        i++;
        <tr>
            <td style="padding-right: 10px">@i</td>
            <td style="padding-right: 10px">@f.Name</td>
            <td style="padding-right: 10px">@foreach (var l in f.Locations) {<p> @l.City, </p> } </td>
            <td></td>
            <td></td>
            <td></td>
            <td><button class="btn btn-success" onclick="location.href='@Url.Action("AddFestival", "Organisator", new { id = f.ID })'">Inzicht</button></td>
        </tr>
        }
    </table>

    <button class="btn btn-success" style="height : 100px; width : 200px" onclick="location.href='@Url.Action("AddFestival", "Organisator", new {id = 0})'">Nieuw festival</button>